* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(45deg, white, rgb(197, 197, 197));
    min-height: 100dvh;
    align-items: center;
}

section {
    justify-items: center;
}

h1 {
    position: relative;
    padding: 10px;
    border-radius: 10px;
    color: rgb(59, 59, 59);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 10;
    animation: aparecer 1.5s, lado 1.5s;
}

form {
    background-color: rgb(255, 255, 255);
    position: relative;
    justify-items: center;
    text-align: center;
    padding: 20px;
    width: 20%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 1px rgb(155, 155, 155);
    color: rgb(59, 59, 59);
    animation: aparecer 1.5s, levantar 1.5s;
}

input {
    width: 100%;
}

button {
    padding: 10px;
    background-color: rgb(150, 150, 150);
    border-radius: 2px;
    border: none;
    color: rgb(37, 37, 37);
}

button:hover {
    background-color: rgb(105, 105, 105);
}

@keyframes aparecer {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes levantar {
    0% {
        top: 10px;
    }
    100% {
        top: 0;
    }
}

@keyframes lado {
    0% {
        right: 10px;
    }
    100% {
        right: 0;
    }
}